/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.vscode
/googleCredentials.json
/googleCredentials.*.json
!/googleCredentials.example.json
/itga-firebase-prod.json
/itga-firebase-*.json
/itga-firebases-prod.json
/itga-firebases-*.json
mysqlbackup
*.sql
*.dump
/*.pem
/*.key
